---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import { slugify } from "../../utils/helpers";

export const getStaticPaths = (async () => {
  const allPosts = await Astro.glob("../blog/*.md");
  
  return [
    {
      params: { category: slugify("5 To 9") },
      props: { posts: allPosts, name: "5 To 9" },
    },
    {
      params: { category: slugify("Internet Fix") },
      props: { posts: allPosts, name: "Internet Fix" },
    },
    {
      params: { category: slugify("Internet") },
      props: { posts: allPosts, name: "Internet" },
    },
    {
      params: { category: slugify("Inspirations") },
      props: { posts: allPosts, name: "Inspirations" },
    },
  ];
}) satisfies GetStaticPaths;

const { category } = Astro.params;
const { posts, name } = Astro.props;
const filteredPosts = posts.filter((post) =>
  slugify(post.frontmatter.category).includes(category)
);
---

<MainLayout title={name}>
  <section class="posts container" aria-label={`Posts about ${name}`}>
    <h2>Posts about "<span>{name}</span>"</h2>
    <div class="post-grid">
      {
        filteredPosts.map((post) => (
          <PostCard frontmatter={post.frontmatter} url={post.url} />
        ))
      }
    </div>
  </section>
</MainLayout>

<style lang="scss">
  .posts {
    h2 {
      font-size: 34px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin-bottom: 100px;
    }
    .post-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
</style>
