---
import { getCollection } from "astro:content";
import Pagination from "@components/Pagination.astro";
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import type { CollectionEntry } from "astro:content";

interface Page {
  data: CollectionEntry<"posts">[];
  url: {
    prev: string | undefined;
    next: string | undefined;
  };
  lastPage: number;
  currentPage: number;
}

const pathname = new URL(Astro.request.url).pathname;
const firstPath = pathname.split("/")[1]; // Remove empty parts

export async function getStaticPaths({ paginate }) {
  const blogPosts = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });

  return paginate(blogPosts, {
    pageSize: 3,
  });
}

const { page } = Astro.props as { page: Page };
const posts = page.data;
---

<MainLayout title="Posts">
  <section class="posts container">
    <h2>Blog Posts</h2>
    <div class="post-grid">
      {
        posts && posts.length > 0
          ? posts.map((post) => <PostCard post={post} />)
          : "No posts found"
      }
    </div>

    {
      posts.length > 0 && page.lastPage > 1 && (
        <Pagination
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          length={page.lastPage}
          currentPage={page.currentPage}
          firstUrl={`/${firstPath}`}
        />
      )
    }
  </section>
</MainLayout>

<style lang="scss">
  .posts {
    min-height: calc(100vh - 198px);
    h2 {
      font-size: 34px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin-bottom: 100px;
    }
    .post-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
</style>
