---
import { getCollection } from "astro:content";

// component imports
import PostCard from "../../components/PostCard.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = await getCollection("posts");

---

<MainLayout title="Posts">
  <section class="posts container">
    <h2>Blog Posts</h2>
    <div class="post-grid">
      {
        posts && posts.length > 0
          ? posts.map((post) => <PostCard post={post} />)
          : "No posts found"
      }
    </div>
    <!-- <div>
      <p>Posts {page.start + 1} to {page.end + 1}</p>
      <p>{page.size} posts per page</p>
      <p>Page {page.currentPage} of {page.lastPage}</p>
    </div>
    <Pagination
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      length={page.total}
      currentUrl={page.url.current}
      currentPage={page.currentPage}
      firstUrl={`${firstPath}`}
      lastUrl={`${firstPath}/${page.lastPage}`}
    /> -->
  </section>
</MainLayout>

<style lang="scss">
  .posts {
    h2 {
      font-size: 34px;
      font-weight: 400;
      line-height: 28px;
      text-align: center;
      margin-bottom: 100px;
    }
    .post-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
    }
  }
</style>
